<h2 class="title">Image#<%= @picture.id %></h2>
<div class=image_frame>
<img src="<%= @picture.url %>" >
<p><%= link_to "Edit", edit_picture_url(@picture.id), :method => 'edit' %></p>
<p><%= link_to "Delete", picture_url(@picture.id), :method => 'delete' %></p>
</div>